<h1>Restaurants</h1>

<div class="cards">
  <% @restaurants.each do |restaurant| %>
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <%= link_to restaurant.name, restaurant_path(restaurant), class: "card-title" %>
            <p class="card-text"><%= restaurant.address %></p>
          </div>
        </div>
    </div>
  <% end %>
</div>
