body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-bottom: 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  text-decoration: none;
  padding: 10px 30px;
  color: rgb(115, 115, 115);
  font-size: 20px;
}

.container {
  background-color: rgb(255, 250, 244);
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.card-title {
  font-size: larger;
  font-weight:bolder;
}

#restaurant-card {
  text-align: center;
}

.review {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
